.card {
    background-color: pink;
    border-radius: 16px;
    margin: 10px 0;
    padding: 40px;
    
    h2 {
      font-size: 1.25em;
       margin-top: 0;
    }
    h3 {
      font-size: 3em;
      margin: 0;
    }
    p {
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      margin-bottom: 40px;
      padding-left: 0;
      
      li {
        margin-bottom: 10px;

        &::before {
          content: "";
          display: block;
          background: url("../../assets/tick.svg") no-repeat;
          width: 20px;
          height: 20px;
          float: left;
          margin: 0 6px 0 0;
        }
      }
    }
    a {
      background-color: black;
      border-radius: 8px;
      color: white;
      font-weight: 500;
      padding: 10px 20px;
      text-decoration: none;
    }
  }