.card {
    background-color: pink;
    border-radius: 16px;
    margin: 10px 0;
    padding: 20px;
    
    h2 {
      font-size: 1.25em;
       margin-top: 0;
    }
    h3 {
      font-size: 3em;
      margin: 20px 0;
    }
    p {
      margin-bottom: 30px;
    }
    ul {
      margin-bottom: 40px;
      list-style: none;
      padding-left: 0;
      
      li {
        margin-bottom: 10px;
      }
    }
    a {
      background-color: black;
      border-radius: 8px;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
    }
  }